body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
span{
    color: #FBA24F;
}

section{
    display: flex;
    justify-content: center;
}
.button{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
    padding: 15px 40px;
    border-radius: 30px;
    box-shadow: 5px 5px#888888;
}
/* Top Page */

section .top_page{
    height: 800px;
    padding-bottom: 150px;
}
.top_page article{
    width: 40%;
    padding-top: 150px;
    padding-left: 5%;
}
.top_page h1{
    color: #575757;
    font-weight: bold;
    font-size: 60px;
}
.top_page p{
    color: #828282;
    font-size:medium;
    font-size: 20px;
}
.top_page figure{
    width: 40%;
    padding-right: 5%;
    padding-left: 10%;
}
.top_page img{
    width: 100%;
}
.top_button{
    padding-top: 20px;
}

/* About Me */

section .about_page{
    height: 600px;
    padding-bottom: 150px;
}
.about_page{
    background-image: url("images/About-me-Background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.about_page figure{
    width: 40%;
    margin-top: 10%;
}
.about_page img{
    width: 50%;
    padding-left: 160px;
}
.about_page article{
    width: 40%;
    padding-top: 250px;
    padding-left: 160px;
}
.about_page h2{
    font-weight: bold;
    font-size: 54px;
    color: #707070;
}
.about_page p{
    color: #828282;
    font-size:medium;
    font-size: 32px;
}
.about_button{
    padding-top: 20px;
}
/* My Recipes */
section .my_recipes{
    height: 1200px;
    padding-bottom: 150px;
}
.my_recipes_text h2{
    color: #676767;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.my_recipes_text p{
    color: #252525;
    font-size: 18px;
    text-align: center;
}
.my_recipes{
    margin-bottom: 40px;
}
.cards{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.card_01{
    width: 700px;
    height: 450px;
    margin: 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
    0 2px 4px -2px rgba(0,0,0,.1);
    border-radius: 20px;
}
.card_02{
    width: 700px;
    height: 450px;
    margin: 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
    0 2px 4px -2px rgba(0,0,0,.1);
    border-radius: 20px;
}
.card_article{
    margin: 20px;
}
.card_article h3{
    font-size: 28px;
    color: #18191F;
}
.card_article p{
    color: #18191F;
    font-size: 18px;
}
.card_01_img{
    background-color: aqua;
    height: 240px;
    margin-bottom: 20px;
    background-size: cover;
}
.card_02_img{
    background-color: aqua;
    height: 240px;
    margin-bottom: 20px;
    background-size: cover;
}
.card_01_img{
    background-image: url("images/Food-01.png");
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}
.card_02_img{
    background-image: url("images/Food-01.png");
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}
.social_media{
    width: 1427px;
    height: 200px;
    margin: 0 auto;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.social_media_text{
    padding-right: 150px;
    padding-top: 50px;
    display: flex;
    width: 200px;
    /* justify-content: space-evenly; */
    flex-direction: column;
}


.social_media_text_h1{
    margin-bottom: 0;
    font-weight: bold;
    margin-top: 0;
    font-size: 48px;
}

.social_media_text_p{
    /* margin-left: -13px; */
    font-weight: 400;
    font-size: 16px;
}
footer{
    height: 200px;
    background-color: #0B0D17;
}
footer h4{
    font-size: 30px;
    color: #5B5B5B;
    text-align: center;
    padding-top: 40px;
}
footer p{
    font-size: 16px;
    color: white;
    text-align: center;
}